<section id="index-trainings">
  <div class="container">

  <% @trainings.each do |training| %>
    <% if training.group? %>
      <h2><%= training.group %></h2>
    <% end %>
  <% end %>
  </div>

  <%= link_to "Créer un entrainement", new_training_path %>
</section>


