// Specific CSS for your home-page
body {
  background-color: white;
  position: relative;
  height: max-content;
}
.hometitle{
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn {
  margin-top: 40px;
}
