<div class="banner" >

  <div class="banner-content">
    <div class="title">
      <h1>ASMBVB </h1>
    </div>
    <div class="paragraph">
      <p>La plateforme du DIY</p>
    </div>
    </div>
  </div>
</div>
