<section id="banner-homepage">
  <div class="banner" >
    <div class="banner-image">
    </div>
      <div class="banner-content">
        <div class="title">
          <h1>AS Monaco Beach Volley </h1>
        </div>
        <div class="paragraph">
          <p>Ta plateforme d'entraînements</p>
        </div>
        </div>
      </div>
  </div>
</section>
