<section id="banner-homepage">
  <div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(00,00,00,0.7)), url('<%= image_path "terrainbeach.jpg" %>');" >
      <div class="banner-content">
        <div class="title">
          <h1>AS Monaco Beach Volley </h1>
        </div>
        <div class="paragraph">
          <p>Ta plateforme d'entraînements</p>
        </div>
        </div>
      </div>
  </div>
</section>
