<div class="container form-display">
  <div class="contacts">
    <h4>Besoin d'un renseignement ? <br> Contactez-nous !</h4>
    <br>
    <div class="skinny_wrapper wrapper_padding">
      <form id="contactform" action="https://formsubmit.io/send/3a0425fd-8682-4ba6-8c4c-b9df132d0157" method="POST">
          <input name="_redirect" type="hidden" id="name" value="/" >
          <input name="name" type="text" id="name" placeholder="Nom et prénom">
          <br>
          <input name="email" type="email" id="email" placeholder="Adresse email">
          <br>
          <textarea name="comment" id="comment" rows="3" placeholder="Votre message"></textarea>
          <input name="_formsubmit_id" type="text" style="display:none">
          <br>
          <input value="Envoyer" type="submit">
      </form>
    </div>
  </div>
</div>
