<section id="homecards">
  <div class="container">
    <div class="services">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="service service-first">
            <div class="icon">
              <%= image_tag "user_icon128.png", width: 100 %>
            </div>
            <p>Connecte-toi !</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="service service-second">
            <div class="icon">
              <%= image_tag "look_for_128.png", width: 100 %>
            </div>
            <p>Cherche le créneau qui te convient</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="service service-third">
            <div class="icon">
              <%= image_tag "calendar_128.png", width: 100 %>
            </div>
            <p>Inscris-toi !</p>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
