#footer{
  .footer {
  bottom: 0px;
  width: 100%;
  background: #232426;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #ffffff;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: #ffffff;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
    color: #ffffff;
    font-size: 30px;
  }
  .footer .fa-umbrella-beach {
    color: #ffffff;
    font-size: 18px;
  }
}
