#homecards {
  .services {
  padding: 100px 0;
  margin: 20px 0;
  }
  .service {
  background-color: white;
  text-align: center;
  height: 180px;
  border-radius: 10px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
}
